<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <div class="parent">
            <div class="header">
                <h1>New Course</h1>
                <p>How do you want to start?</p>
            </div>

            <div class="first-card">
                <h2>Text to Course with AI</h2>
                <p>Create rich learning experiences with the help of lectures, quizzes..., powered by AI technology.</p>
                <button>Create</button>
            </div>

            <div class="second-card">
                <h2>From Scratch</h2>
                <p>Create rich learning experiences with the help of lectures, quizzes..., powered by AI technology.</p>
                <button disabled>Coming Soon</button>
            </div>

            <div class="third-card">
                <h2>Use Case Ideas</h2>
                <p>Create rich learning experiences with the help of lectures, quizzes..., powered by AI technology.</p>
                <button disabled>Coming Soon</button>
            </div>

    </div>        
    
</body>
</html>