<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>frame 160</title>
</head>
<body>

    <div class="container">
        <div class="second-con">
            <div class="first-div">
            <p>Your course has been published successfully!</p> 
            </div>


            <div class="second-div">
                <p>Share</p>
                <p>View course</p>
                <p>View in Dashboard</p>
            </div>
        </div>    
    </div>
</body>
</html>